body {
    background-color: #121212;
}

h5 {
    color: #343a40;
}

.name {
    color: #343a40;
}

.love {
    color: #343a40 !important;
}


/*----------------- Mail-------------------- */

.footer {
    color: #fafafa;
    text-align: center;
    margin-top: 5% !important;
    margin-bottom: 10px;
}

@media (max-width: 479px) {
    .footer {
        margin-top: 35% !important;
    }
}